.left {
   background-color: #2196F3;
   padding: 20px;
   float: left;
   width: 20%; /* The width is 20%, by default */
 }
 
 .main {
   background-color: #f1f1f1;
   padding: 20px;
   float: left;
   width: 40%; /* The width is 40%, by default */
 }
 
 .right {
   background-color: #04AA6D;
   padding: 20px;
   float: left;
   width: 20%; /* The width is 20%, by default */
 }
 .mydiv {
   background-color: #aa6804;
   padding: 20px;
   float: left;
   width: 20%; /* The width is 20%, by default */
 }
 @media  screen and (max-width: 600px) {
   .left,.main,.right,.mydiv{ 
     width: 100%; 
   }
 }